<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="/public/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/public/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/brands.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="/public/css/index.css">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <style>
        img {
            display: block;
            max-width: 100%;
            margin: 0 0 1rem;
            border-radius: 5px;
        }
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="/">Home Lab Defense</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto"></ul>
            </div>
        </div>
    </nav>

    <section class="content-section" style="margin: 0px;padding: 146px;height: 520px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2></h2>
                    <div class="post">
                        <h1 class="post-title">{{ page.title }}</h1>
                        <span class="post-date">{{ page.date | date_to_string }}</span>
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>